<div class="jumbotron">
  <h1>Welcome to <code>Porter</code></h1>
  <p>Monthly collaborative reporting made easy</p>
  <p><a class="btn btn-primary btn-lg" href="/oauth2callback" role="button">Sign in or sign up</a></p>
</div>

