<div class="document-page">
    <h3>
        {{section.number}} {{section.name}}
        <a href="{{section.page.alternateLink}}" target="_blank">
            <i class="fa fa-pencil"></i>
        </a>
    </h3>
    <div class="document-page-content" ng-if="!virgin" ng-bind-html="content"></div>
    <div class="document-page-footer" ng-if="!virgin">
        Last modified by
        <span class="author" ng-bind="section.page.lastModifyingUser.displayName"></span>
        <mark rel-date date="section.page.modifiedDate"></mark>
    </div>
    <div class="document-page-footer" ng-if="virgin">
        No content has been supplied for this section yet
    </div>
</div>
