<div class="row">

    <div class="col-xs-6">
        <h3>Define document structure</h3>
        <div ng-model="project.structure"
             ui-ace="{useWrapMode : true,
                      showGutter: false,
                      theme:'katzenmilch',
                      mode: 'xml',
                      firstLineNumber: 5,
                      onLoad: aceLoaded,
                      onChange: aceChanged}">
        </div>
    </div>

    <div class="col-xs-6">
        <h3>Preview document structure</h3>
        <div id="structure-preview">
            <ul class="list-group">
                <li ng-repeat="section in sections" class="list-group-item">
                  <span style="padding-left: {{section.padding}}px;"></span>
                    <span class="section-number" ng-bind="section.number"></span>
                    <span class="section-title" ng-bind="section.name"></span>
                    <code ng-if="section.key" ng-bind="section.key"></code>
                    <span class="pull-right">
                        <kbd ng-if="section.owner" ng-bind="section.owner"></kbd>
                        <span class="text-primary" ng-if="xxsection.owner" ng-bind="section.owner"></span>
                        <span class="text-muted" ng-if="!section.owner" ng-bind="xxsection.implicitOwner()"></span>
                        <kbd class="muted" ng-if="!section.owner && section.implicitOwner()" ng-bind="section.implicitOwner()"></kbd>
                    </span>
                </li>
            </ul>
        </div>
        <div class="pull-right" style="padding-top: 20px" ng-if="sections.length>0">
            <button type="submit"
                    class="btn btn-primary btn-lg"
                    ng-click="create()">
                Create document
            </button>
        </div>
    </div>
</div>