<div class="col-xs-6" ng-if="documents">

    <h1>Documents</h1>

    <h3 ng-repeat="document in documents">
        <a href="#/{{projectId}}/docs/{{document.id}}">{{document.title}}</a>
    </h3>

    <hr>

    <form name="form" class="form-inline" novalidate ng-submit="create()">
        <div class="form-group">
            <input type="month" class="form-control input-sm" required ng-model="newDocument.month" placeholder="Name">
        </div>
        <button type="submit" class="btn btn-primary btn-sm" ng-disabled="form.$invalid">Define new document...</button>
    </form>

</div>
