<div class="col-xs-6" ng-if="projects">

    <h1>Projects</h1>

    <h3 ng-repeat="project in projects">
        <a href="#/{{project.id}}/docs">{{project.title}}</a>
    </h3>

    <hr>

    <form name="form" class="form-inline" novalidate ng-submit="create()">
        <div class="form-group">
            <input type="text" class="form-control input-sm" required ng-model="newProject.name" placeholder="Name">
        </div>
        <button type="submit" class="btn btn-primary btn-sm" ng-disabled="form.$invalid">Create new project</button>
    </form>

</div>

