<div class="col-xs-9" id="structure-editor" >

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"><i class="fa fa-trash"></i></button>
        </div>
    </div>

    <table id="structure-editor-table" class="table table-hover table-borderedx">
        <thead>
            <th><i class="fa fa-square-o"></i></th>
            <th>Title</th>
        </thead>
        <tbody>
            <tr ng-repeat-start="section in sections" ng-if="!section.editing" xxng-click="beginUpdate(section)">
                <td><i class="fa fa-square-o"></i></td>
                <td class="td-expand">
                    <span style="padding-left: {{padding(section)}}px;">
                        <span editable-text="section.name">{{section.name}}</span>
                    </span>
                </td>
            </tr>
            <tr ng-repeat-end="section in sections" ng-if="section.editing">
                <td></td>
                <td class="td-expand">
                  <form class="form-inline" ng-submit="update(section)">
                      <div class="form-group">
                          <input type="text" class="form-control input-sm" ng-model="section.name" size="30"
                                 placeholder="Title of new section">
                          <input class="btn btn-primary btn-sm" type="submit" value="Update">
                          <input class="btn btn-link btn-sm" type="submit" value="Cancel">
                      </div>
                  </form>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="list-group">
        <li ng-repeat="section in sections" class="list-group-item">
      <span style="padding-left: {{padding(section)}}px;">
        <span ng-show="section.editing">
        </span>
        <span ng-hide="section.editing" ng-click="beginUpdate(section)">
          {{section.name}}
          <span class="structure-editor-controls pull-right" ng-hide="section.editing">
            <span class="btn btn-xs" ng-click="outdent(section)"><i class="fa fa-arrow-left"></i></span><span
                  class="btn btn-xs" ng-click="indent(section)"><i class="fa fa-arrow-right"></i></span>
          </span>
        </span>
      </span>
        </li>
    </ul>
    <form class="form-inline" ng-submit="add()">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newSection.name" size="30"
                   placeholder="Title of new section">
            <input class="btn btn-primary" type="submit" value="add">
        </div>
    </form>
</div>