/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome

 *
 *= require_tree .
 *= require_self
 */

body {
    padding-top: 65px;
}

.ace_editor {
    width: 100%;
    height: 400px;
    border: 1px solid lightgray;
}

div#structure-preview {
    height: 400px;
    border: 1px solid lightgray;
    overflow-y: scroll;
}

span.section-number {
    padding-right: 6px;
    color: lightgrey;
}

kbd.muted {
    background: lightgray;
}

div.document-page-footer {
    font-size: 80%;
    color: gray;

    .author {
      font-weight: bold;
    }
}